# Clustering restaurant business by topics weights

## Import necessary libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

## Read the restaurant business with topics weights datasets

In [2]:
pos_restaurant_topic_file = 'Positive_Restaurant_Topics.csv'
df_pos_restaurant_topic = pd.read_csv(pos_restaurant_topic_file)
del df_pos_restaurant_topic['Unnamed: 0']

In [3]:
df_pos_restaurant_topic.head(3)

,business_id,name,categories,city,stars,topic_1,topic_2,topic_3,topic_4,topic_5,topic_6
0,-2-ih3mE8KPyeKVIzpBfPQ,SkyGarten,"American (Traditional), Bars, Restaurants, Nig...",Philadelphia,3.5,0.170043,0.000000,0.00000,0.014064,0.145168,0.670726
1,-T_lkOvaK39R-Ufg6VUyxg,Magpie,"Desserts, Food, Coffee & Tea, Restaurants",Philadelphia,4.5,0.499080,0.016986,0.18418,0.145433,0.098592,0.055729
2,-V0vIgo6196MDn_x3ZaYmA,La Creperie Cafe,"Restaurants, Cafes, Creperies",Philadelphia,3.5,0.224335,0.164131,0.03775,0.227311,0.272450,0.074022

In [4]:
df_pos_res_clus =  df_pos_restaurant_topic[['topic_1' , 'topic_2' , 'topic_3' , 'topic_4' , 'topic_5' , 'topic_6']]
df_pos_res_clus.head(3)

    topic_1   topic_2  topic_3   topic_4   topic_5   topic_6
0  0.170043  0.000000  0.00000  0.014064  0.145168  0.670726
1  0.499080  0.016986  0.18418  0.145433  0.098592  0.055729
2  0.224335  0.164131  0.03775  0.227311  0.272450  0.074022

## Apply K-Means clustering method

In [5]:
kmeans = KMeans(n_clusters=6).fit(df_pos_res_clus) #compute k-means clustering
centroids = kmeans.cluster_centers_ # get cluster center
clusters = kmeans.predict(df_pos_res_clus)
df_pos_restaurant_topic.insert(10,"cluster",clusters,True)
print(centroids)

[[0.3163212  0.05819385 0.02531286 0.10615383 0.40370722 0.09031103]
 [0.55596943 0.04925348 0.02603008 0.12916122 0.1769055  0.06268029]
 [0.25790211 0.07230473 0.0314339  0.37047974 0.18766266 0.08021685]
 [0.16490808 0.05234165 0.02587004 0.13162187 0.18819902 0.43705933]
 [0.18804789 0.46598931 0.0430542  0.13922931 0.1103424  0.05333689]
 [0.11747272 0.04679387 0.61751602 0.06879234 0.09546997 0.05395508]]

In [6]:
df_pos_restaurant_topic.head(3)

,business_id,name,categories,city,stars,topic_1,topic_2,topic_3,topic_4,topic_5,cluster,topic_6
0,-2-ih3mE8KPyeKVIzpBfPQ,SkyGarten,"American (Traditional), Bars, Restaurants, Nig...",Philadelphia,3.5,0.170043,0.000000,0.00000,0.014064,0.145168,3,0.670726
1,-T_lkOvaK39R-Ufg6VUyxg,Magpie,"Desserts, Food, Coffee & Tea, Restaurants",Philadelphia,4.5,0.499080,0.016986,0.18418,0.145433,0.098592,1,0.055729
2,-V0vIgo6196MDn_x3ZaYmA,La Creperie Cafe,"Restaurants, Cafes, Creperies",Philadelphia,3.5,0.224335,0.164131,0.03775,0.227311,0.272450,2,0.074022

In [7]:
df_pos_restaurant_topic_c0 = df_pos_restaurant_topic[df_pos_restaurant_topic['cluster'] == 0]
df_pos_restaurant_topic_c0

,business_id,name,categories,city,stars,topic_1,topic_2,topic_3,topic_4,topic_5,cluster,topic_6
3,-cEFKAznWmI0cledNOIQ7w,Gran Caffe L'Aquila,"Restaurants, Gelato, Coffee & Tea, Food, Itali...",Philadelphia,4.5,0.408092,0.033833,0.011599,0.102526,0.330320,0,0.113630
8,0SWqECZ39P2MlmeXbKnUjg,Asia On the Parkway,"Singaporean, Restaurants, Asian Fusion, Thai",Philadelphia,3.0,0.328886,0.002251,0.009682,0.130552,0.317603,0,0.211026
10,0bvtIbpsqBJZpRKSPwIfNw,Panorama,"Hotels & Travel, Bars, Food, Wine Bars, Beer, ...",Philadelphia,4.0,0.400573,0.065652,0.011274,0.050339,0.320306,0,0.151856
11,0p5Q__lOXxnp74afXHP5tg,Jasmine Rice - Old City,"Restaurants, Thai",Philadelphia,3.5,0.453608,0.000000,0.016640,0.137422,0.392330,0,0.000000
13,0xadnlAs2uV7Ax-7RViZEw,Ikki Sushi,"Sushi Bars, Japanese, Restaurants",Philadelphia,4.5,0.429813,0.025443,0.000000,0.006683,0.538062,0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
363,ysvzP0VvMTrGmUClKJ3img,Ms Tootsie's RBL,"Soul Food, Restaurants",Philadelphia,3.5,0.419670,0.110127,0.007142,0.085772,0.322245,0,0.055045
365,yypfHgPJw6V65cLTOZiPSQ,Cafe Fulya,"Food, Cafes, Turkish, Bakeries, Breakfast & Br...",Philadelphia,4.0,0.137814,0.178379,0.024838,0.198757,0.346538,0,0.113674
366,zJArQ1uARHmSDrW-ftRV5g,La Lupe Restaurant,"Mexican, Restaurants",Philadelphia,3.5,0.364270,0.000000,0.012079,0.235330,0.349417,0,0.038905
367,zRnFxKLKdn0ZJ2_DapEQWA,The Lucky Well - Spring Arts,"Chicken Shop, Barbeque, Restaurants",Philadelphia,5.0,0.280547,0.000000,0.000000,0.215955,0.461402,0,0.042096
369,zqWQ7ghq_qRnVOogdYXp6A,Rustica Rosticceria,"Sandwiches, Restaurants, Chicken Shop",Philadelphia,3.0,0.329133,0.217501,0.000000,0.186985,0.266381,0,0.000000